<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container my-3">
        <h1 class="text-center">List of Clients</h1>
        <a href="/clients/create" class="btn btn-primary" id="newClient">New Client</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.address}"></td>
                <td th:text="${client.createdAt.toString().substring(0,10)}"></td>

                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm"
                    th:href="@{/clients/edit(id=${client.id})}">Edit</a>
                    <a class="btn btn-danger button-sm"
                    th:href="@{/clients/delete(id=${client.id})}"
                    onclick="return confirm('You can\'t undo after the deletion' )">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>